/* ======== Components' styling ======== */

/* Button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 150px;
    height: 49px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: #FFB548;
    box-shadow: 3px 3px 3px #1a1a1a;
}

.button :link {
    color: black;
    background-color: #FFB548;
    box-shadow: 3px 3px 3px #1a1a1a;
}

.button :visited {
    color: black;
    background-color: #FFB548;
    box-shadow: 3px 3px 3px #1a1a1a;
}

.button :hover {
    background-color: #cc9036;
}

.button:active {
    background-color: #db9b3b;
}

/* Input */
.input-field {
    display: flex;
    max-width: 350px;
    width: 100%;
    height: 55px;
    background-color: #333333;
    margin: 10px 0;
    border-radius: 4px;
    padding: 0 0.4rem;
    box-shadow: 5px 5px 5px #1a1a1a;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1rem;
    color: #FFB548;
}

.input-field input::placeholder {
    color: #aaa;
    text-transform: capitalize;
}

/* SocialMedia */
.social-text {
    margin: 1rem 0;
    color: #1a1a1a;
    text-transform: capitalize;
    font-size: large;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border: 1px solid #1a1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-icon:hover {
    background-color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: #1a1a1a;
}

/* RoomBox */
.room-box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 10px #1a1a1a;
    padding: 5px;
    margin: 10px;
    width: 350px;
    height: 120px;
}

.title-room {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #FFB548;
    padding-top: 5px;
}

.content-room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    color: #ddd;
}

.content-room p {
    padding: 0 5px;
    margin: 3px;
}

/* PrevNext */
.prevnext a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.prevnext a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    width: 4.7em;
}

.next {
    background-color: #1a1a1a;
    color: white;
    width: 4.7em;
}



/* ======= Pages' styling ======== */

/* Authentication Page (Login & Registration) */
.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./assets/top-score-bg.png");
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d1d1d;
    height: 37rem;
    width: 27rem;
    border-radius: 8px;
    position: fixed;
    box-shadow: 0px 0px 25px #1a1a1a;
}

.auth-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2.title {
    font-size: 2.3rem;
    text-transform: capitalize;
    margin: 2rem 0rem 2rem;
    color: #FFB548;
    text-transform: uppercase;
}

.bottom-link {
    display: flex;
    justify-content: center;
}

.bottom-link :link {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.bottom-link :visited {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.bottom-link :hover {
    color: #FFB548;
    font-weight: 600;
}

.bottom-link :active {
    color: #db9b3b;
    font-weight: 700;
}

/* Dashboard Page */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/the-games-bg.jpg');
    background-position: center top;
    height: 100vh;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 50px;
    margin-right: 50px;
    height: 90vh;
}

.upper-game {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
}

.single-player-box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #1d1d1d;
    /* box-shadow: 0px 0px 10px #1a1a1a; */
    margin: 10px;
    width: 300px;
    height: 100px;
}

.single-player-box :hover {
    cursor: pointer;
    background-color: #2c2c2c;
}

.single-player-box :active {
    background-color: #1d1d1d;
}

.single-player-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #FFB548;
    padding-top: 5px;
}

.create-room {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65px;
}

.rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
}

.rooms :hover {
    cursor: pointer;
    background-color: #2c2c2c;
}

.rooms :active {
    background-color: #1d1d1d;
}

.biodata {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #1a1a1a;
    background-color: #333;
    color: #ddd;
    width: 30%;
    padding: 1.5em;
    margin-right: 50px;
    margin-left: 50px;
    height: 80vh;
}

/* CreateRoom Page */
.create-new-room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #9C835F
}

.choices {
    display: flex;
    flex-direction: row;
}

.box {
    padding: 1.5em;
    margin: 4em;
}

.rock img {
    width: 125px;
    height: 125px;
}

.paper img {
    width: 105px;
    height: 135px;
}

.scissors img {
    width: 105px;
    height: 135px;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200) !important;
    border-radius: 30px;
}

.your-choice {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: #f3af34;
    text-shadow: 2px 2px 2px #1a1a1a;
}

.btn-save {
    display: flex;
    justify-content: center;
}